:root{
    /* -------------------------- */
    /*           font wight       */
    /* -------------------------- */
    --font-family-Jost:'Jost', sans-serif;;
    --font-family-Mulish:'Mulish', sans-serif;
    --font-family-Poppins: 'Poppins', sans-serif;
     /* -------------------------- */
    /*          padding           */
    /* -------------------------- */
    --section-padding-type-1: 5rem 5rem;
    --section-padding-type-2: 5rem 3.125rem;
    --section-padding-type-3: 4rem 0;
    --padding-button:0.875rem 0.75rem;
    --padding-button-small-screen:0.25rem 1rem;
    --padding-button-type-2:1rem;
    /* -------------------------- */
    /*         box-shadow          */
    /* -------------------------- */
    --box-shadow: 0 0 1.25rem 0 rgb(62 28 131 / 10%);
    /* -------------------------- */
    /*        border-radius         */
    /* -------------------------- */
    --border-radius-normal: 0.625rem;
    --border-radius-small:0.5rem;
    --border-radius-circle: 50%;
    /*---------------------------- */
    /*        colors               */
    /* -------------------------- */
    --main-color:#03b97c;
    --section-color-grey:#f4f5f7;
    --section-color-white:#fff;
    --text-color-h:#333d46;
    --text-color-a :#30384e;
    --text-color-p : #3c4852 ; 
    --navbar-icon-color:#70798b;
    --orange-color:#ff5722;
    --purple-color:#906ad4;
    --green-color:#7cbf2f;

}
    /*---------------------------- */
    /*       public style           */
    /* -------------------------- */
body{
    overflow-x:hidden;
}
*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-family-Jost);
    color: var(--text-color-h);
}
a{
    text-decoration: none;
    color: var(--color-a);
}
a:hover{
    text-decoration: none;
    color: unset;
}
p{
    color: var(--text-color-p)
}

.btn:focus,.btn:active{
    outline:none;
    box-shadow:unset;
}
.btn-customize:hover{
    color:var(--white); 
}
.btn-customize{
  
    font-family: var(--font-family-Jost);
     /* 0.875rem 0.75rem */
    padding:var(--padding-button);
    background-color: var(--main-color);
    color:var(--white)
}

.btn-customize-md:hover{
    color:var(--main-color); 
}
@media (max-width:991px){
    .btn-customize-md{
  
        font-family: var(--font-family-Jost);
         /* 0.875rem 0.75rem */
        padding:var(--padding-button-small-screen);
        background-color: var(--main-color);
        color:var(--white)
    }
    .btn-customize-md:hover{
        color:var(--white); 
    }
}



/*---------------------------- */
/*       public style           */
/* -------------------------- */
/*---------------------------- */
/*       HomePage style           */
/* -------------------------- */
/*---------------------------- */
/*       nav style start         */
/* -------------------------- */
nav{
    padding: 1.2rem 0rem !important;
    background-color: transparent;
    width: 100vw;
    position: absolute !important;
    z-index:9999;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav .container{
    gap:1%;
    align-items: baseline !important;
}
nav .navbar-brand{
    align-self: baseline;
}
nav .navbar-nav {
    gap:3%;
}

nav .navbar-nav .nav-item.active{
    color: var(--main-color);

}
nav .navbar-nav .nav-item  .nav-link{
    font-family: var(--font-family-Jost);
    font-weight:500;
    display: flex;
    align-items: baseline;
    gap:5%;
    transition:color 0.3s ease;
    -webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
    -ms-transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
}
nav .navbar-nav .nav-item:hover .nav-link{
    color: var(--main-color);
}
nav .navbar-nav .nav-item  .dropdown-menu{
    min-width:15rem;
    display: unset;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-small);
    -webkit-border-radius: var(--border-radius-small);
    -moz-border-radius: var(--border-radius-small);
    -ms-border-radius: var(--border-radius-small);
    -o-border-radius: var(--border-radius-small);
    padding: 1rem  0;
    border: none;
    opacity: 0;
    visibility: hidden;
    top:120%;
}


nav .navbar-nav .nav-item:hover .dropdown-menu{
    opacity: 1;
    visibility:visible;

}
nav .navbar-nav .nav-item  .dropdown-menu::before{
    content: '';
    display: block;
    position: absolute;
    top: -8%;
    left:13%;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--white);
    filter:drop-shadow(var(--box-shadow));
    -webkit-filter:drop-shadow(var(--box-shadow));
}
nav .navbar-nav .nav-item:nth-child(1)  .dropdown-menu::before
{
    top:-49%;
    left:10%;
}
nav .navbar-nav .nav-item  .dropdown-menu.sub-menu::before{
    content:unset;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item{
    font-size: 0.85rem;
    border-bottom: 1px solid #e4e8ec;
    position:relative;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item:last-child {
    border-bottom:none ;
}
nav .navbar-nav .nav-item:nth-child(1) .dropdown-menu .dropdown-item {
    border-bottom:none ;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item a{
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    padding: 14px 20px 14px 0px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item a:hover{
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
}

nav .navbar-nav .nav-item .dropdown-menu .dropdown-item i{
    margin-left: auto;
}
.dropdown-item:focus, .dropdown-item:hover
{
    color: var(--main-color);
    background-color:unset;
       
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item .dropdown-menu.sub-menu{
    left: 90%;
    top:-20%;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item .dropdown-menu.sub-menu{
    visibility: hidden;
    opacity: 0;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover .dropdown-menu.sub-menu{
    visibility: visible;
    opacity: 1;
}
    /*---------------------------- */
    /*          media start         */
    /* -------------------------- */
@media (max-width:1120px){

}
@media (max-width:991px){
   
    nav{
        padding:1rem !important;
        position:static !important;
    }
    nav .navbar-brand{
        order: 1;
    }
    nav .navbar-toggler{
        align-self: center;
        order: 0;
    }
    nav .navbar-toggler>i{
        font-size: 1.5rem;
        color: var(--navbar-icon-color);
    }
    nav .btn-customize-md{
        order: 2;
        margin-left: auto;
        margin-right: 20px;
    }
    .navbar-collapse{
        position: fixed;
        height: 100vh;
        left: -100%;
        top: 0;
        width: 100vw;
        display: flex;
        z-index: 111;
    }
   
    .collapse:not(.show){
        display: unset;
    }
    nav .navbar-nav{
        height: 100vh;
        padding: 1rem;
        overflow-y: auto;
        width: 40vw;
        background-color: var(--white);
        z-index: 111;
        padding: 0;
    } 
    .overlay{
        visibility: hidden;
        opacity: 0;
        width: 70vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        transition:all 1.5s  ease ;
        -webkit-transition:all 1.5s  ease ;
        -moz-transition:all 1.5s  ease ;
        -ms-transition:all 1.5s  ease ;
        -o-transition:all 1.5s  ease ;
        z-index: 100;
    }
    .navbar-collapse.show .overlay{
        visibility: visible;
        opacity: 1;
    }
    .nav-item{
        border-bottom: 1px solid #e4e8ec;
        padding:0 1rem;
    }
    .navbar-nav .close-menu{
        color: var(--navbar-icon-color);
        text-align: right;
        font-size: 1.4rem;
        padding: 1rem;
    }
    .nav-link{
        padding:0.5rem 0 .5rem 0 ;
    }
    
    nav .navbar-nav .nav-item:hover .nav-link{
        color: var(--color-a);
    }
    .nav-link.dropdown{
        justify-content: space-between;
    }

    nav .navbar-nav .nav-item .dropdown-menu{
        display: none;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        border-radius:unset    ;
        -webkit-border-radius:unset    ;
        -moz-border-radius:unset    ;
        -ms-border-radius:unset    ;
        -o-border-radius:unset    ;
        padding: 0 ;
    }
    nav .navbar-nav .nav-item .dropdown-menu::before{
        content:unset;
    }
     nav .navbar-nav .nav-item .dropdown-menu .dropdown-item{
         border-bottom:unset;
         padding: 0 ; 
    
    }
    .dropdown-item:focus, .dropdown-item:hover{
        color: var(--color-a);
    }
    nav .navbar-nav .nav-item .dropdown-menu .dropdown-item .dropdown-menu.sub-menu{
        display: none;
        visibility:unset;
        opacity:unset;
    }
    nav .navbar-nav .nav-item .dropdown-menu .dropdown-item a{
        border-bottom: 1px solid #e4e8ec;
        
    }
    nav .navbar-nav .nav-item .dropdown-menu .dropdown-item .sub-menu .dropdown-item a{
        border-bottom:unset;
        padding-left: 1.5rem;
    }
    nav .navbar-nav .nav-item .dropdown-menu .dropdown-item a:hover{
        color: var(--color-a);
        transform:unset;
        -webkit-transform:unset;
        -moz-transform:unset;
        -ms-transform:unset;
        -o-transform:unset;
}
    
}
@media (max-width:768px){

}
@media (max-width:576px){
    
    nav{
        padding:1rem 0 !important;

    }
    nav .navbar-nav{
        height: 100vh;
        overflow-y: auto;
        width: 100vw;
        background-color: var(--white);
        z-index: 111;
    } 
    .overlay{
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        transition:all 1.5s  ease ;
        -webkit-transition:all 1.5s  ease ;
        -moz-transition:all 1.5s  ease ;
        -ms-transition:all 1.5s  ease ;
        -o-transition:all 1.5s  ease ;
        z-index: 100;
    }
}
@media (max-width:320px){
    
}
/*---------------------------- */
/*          media end         */
/* -------------------------- */

/*---------------------------- */
/*       nav style End         */
/* -------------------------- */


/*---------------------------- */
/*       Header style start         */
/* -------------------------- */
 
    header{
        padding:var(--section-padding-type-3);
        background-color:var(--section-color-grey);
    }
    header .container .row{
        align-items: center;
    }

    header .btn-customize {
        padding: var(--padding-button-type-2);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    header .header-content h1{
       font-size: 3rem;
       font-weight: 600;
       line-height: 1.2;
       margin-bottom: 1.5rem;
    }
    header .header-content p{
        font-size: 1.125rem;
        line-height: 1.8;
    }
    header .header-content .input-group{
        margin-bottom:1rem;
        align-items: center;
    }
    header .header-content .input-group i{
        position: absolute;
        left: 3%;
        z-index: 10;
        color:#ccd7de;
        font-size:1.1rem;
    }
    header .header-content .input-group input{
        background-color: var(--white);
        border: 0;
        font-family: var(--font-family-Mulish);
        padding: 1.8rem 3rem;
        border-radius:var(--border-radius-small) !important;
        -webkit-border-radius:var(--border-radius-small) !important;
        -moz-border-radius:var(--border-radius-small) !important;
        -ms-border-radius:var(--border-radius-small) !important;
        -o-border-radius:var(--border-radius-small) !important;
    }
    header input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:#707e9c !important;
        
      }
      header input::-moz-placeholder { /* Firefox 19+ */
        color:#707e9c !important;
      }
      header input :-ms-input-placeholder { /* IE 10+ */
        color:#707e9c !important;
      }
      header input :-moz-placeholder { /* Firefox 18- */
        color:#707e9c !important;
      }
      .input-group-append{
        margin-left: -10px;
      }
      header .header-info{
        width: 85%;
      }
      header .header-info h4{
          font-size: 2.4rem;
          color: var(--main-color);
          font-weight: 600;
          margin-bottom: 0;
      }
    @media (max-width:1120px){
        header .header-info h4{
            font-size: 1.3rem;
        }
    }
    @media (max-width:991px){
        header .header-content h1{
            font-size: 1.8rem;
        }
        header .header-content p{
            font-size: 1.2rem;
        }
        header .header-info h4{
            font-size: 1.5rem;
        }
    }
    @media (max-width:576px){
        header .header-content h1{
            margin-bottom: 1rem;
        }
        header .header-content p{
            font-size: 0.9rem;
        }
        header .header-content .input-group{
            width: 95%;
        }
    }
/*---------------------------- */
/*       Header style end         */
/* -------------------------- */

/*---------------------------- */
/*       tag-award style start         */
/* -------------------------- */
.tag-award{
    margin-top:-5%;
}
.tag-award .card{
    padding: .5rem 0rem;
    background: #ffffff;
    border-radius: var(--border-radius-normal);
    box-shadow:var(--box-shadow);
    -webkit-border-radius: var(--border-radius-normal);
    -moz-border-radius: var(--border-radius-normal);
    -ms-border-radius: var(--border-radius-normal);
    -o-border-radius: var(--border-radius-normal);
}
.tag-award .card-icon{
    align-self: center;
}
.tag-award .card-icon .icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    margin: 0 auto;
}
.tag-award .card-icon .icon-1
{   
    background: rgba(144, 106, 212,0.12);
    border: 1px dashed var(--orange-color);
    color: var(--orange-color);
}
.tag-award .card-icon .icon-2
{
    background: rgba(144, 106, 212,0.12);
    border: 1px dashed var(--purple-color);
    color: var(--purple-color);
}
.tag-award .card-icon .icon-3
{
    background: rgba(124, 191, 47,0.12);
    border: 1px dashed var(--green-color);
    color: var(--green-color);
}
.tag-award .card-icon .icon i{
    font-size: 20px;

}
.tag-award .card-desc{
    padding: 0;
}
.tag-award .card-body{
    padding: 1.25rem 0;
}
.tag-award .card-body .card-title{
    margin-bottom: 5px;

}
.tag-award .card-body .card-text{
    width: 82%;
    font-size: .8rem;
}
@media (max-width:991px){
    .tag-award .tag-award{
        margin-top: -7%;
    }
    .tag-award  .card-icon .icon{
        width: 30px;
        height: 30px;
    }
    .tag-award  .card-icon .icon i{
        font-size: .9rem;

    }
    .tag-award  .card-body .card-title{
        font-size: .85rem
    }
    .tag-award .card-body .card-text{
        font-size: .6rem;
        width: 100%;
    }
}
@media (max-width:576px){
    .tag-award{
        margin-top: -15%;
    }
}
/*---------------------------- */
/*       tag-award style end         */
/* -------------------------- */
