:root{
    /* -------------------------- */
    /*           font wight       */
    /* -------------------------- */
    --font-family-Jost:'Jost', sans-serif;;
    --font-family-Mulish:'Mulish', sans-serif;
    --font-family-Poppins: 'Poppins', sans-serif;
     /* -------------------------- */
    /*          padding           */
    /* -------------------------- */
    --section-padding-type-1: 5rem 5rem;
    --section-padding-type-2: 5rem 3.125rem;
    --section-padding-type-3: 4rem 0;
    --padding-button:0.875rem 0.75rem;
    --padding-button-small-screen:0.25rem 1rem;
    --padding-button-type-2:1rem;
    

    /* -------------------------- */
    /*         box-shadow          */
    /* -------------------------- */
    --box-shadow: 0 0 1.25rem 0 rgb(62 28 131 / 10%);
    /* -------------------------- */
    /*        border-radius         */
    /* -------------------------- */
    --border-radius-normal: 0.625rem;
    --border-radius-small:0.5rem;
    --border-radius-circle: 50%;
    /*---------------------------- */
    /*        colors               */
    /* -------------------------- */
    --main-color:#03b97c;
    --section-color-grey:#f4f5f7;
    --section-color-white:#fff;
    --text-color-h:#333d46;
    --text-color-a :#30384e;
    --text-color-p : #3c4852 ; 
    --navbar-icon-color:#70798b;
    --orange-color:#ff5722;
    --purple-color:#906ad4;
    --green-color:#7cbf2f;

}
    /*---------------------------- */
    /*       public style           */
    /* -------------------------- */
body{
    overflow-x:hidden;
}
*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 1200px)
{
    .homepage .container{
        max-width: 1200px;

    }
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-family-Jost);
    color: var(--text-color-h);
}
a{
    text-decoration: none;
    color: var(--color-a);
}
a:hover{
    text-decoration: none;
    color: unset;
}
p{
    color: var(--text-color-p);
    font-family: var(--font-family-Mulish);
    line-height:1.8;
}
ul{

}
li{
    list-style: none;
}
/*---------------------------- */
/*       public style           */
/* -------------------------- */

/*---------------------------- */
/*       my  framework           */
/* -------------------------- */

.btn:focus,.btn:active{
    outline:none;
    box-shadow:unset;
}
.btn-customize:hover{
    color:var(--white); 
}
.btn-customize{
  
    font-family: var(--font-family-Jost);
     /* 0.875rem 0.75rem */
    padding:var(--padding-button);
    background-color: var(--main-color);
    color:var(--white)
}

.btn-customize-md:hover{
    color:var(--main-color); 
}
@media (max-width:991px){
    .btn-customize-md{
  
        font-family: var(--font-family-Jost);
         /* 0.875rem 0.75rem */
        padding:var(--padding-button-small-screen);
        background-color: var(--main-color);
        color:var(--white)
    }
    .btn-customize-md:hover{
        color:var(--white); 
    }
}


.title-center{
    justify-content: center;
    text-align: center;
}
.title-center h2{
    font-size:30px;
    font-weight:600;
    line-height:1.3;
    margin-bottom:5px;
}
.title-center h2 span{
    color: var(--main-color)
}
.title-center p{
    font-size:15px;


}
@media (max-width:991px){

}
@media (max-width:768px){
    .title-center h2{
        margin-bottom:1rem;
        line-height:1.1;
    }
    .title-center p{
        font-size:.85rem
    }
}
@media (max-width: 576px){
    .title-center h2{
        font-size:1.4rem;
        margin-bottom:1rem;
        line-height:1.1;
    }
}


.course-items{
    padding-top: 2rem;
}
.courses .cource-item {
    background-color: var(--white);
    border-radius:var(--border-radius-small); 
    box-shadow:var(--box-shadow)
}

.courses .cource-item .cource-img-box{
    position: relative;
    border-radius:var(--border-radius-small);
    -webkit-border-radius:var(--border-radius-small);
    -moz-border-radius:var(--border-radius-small);
    -ms-border-radius:var(--border-radius-small);
    -o-border-radius:var(--border-radius-small);
    padding: 10px;
}
.courses .cource-item .cource-img-box img{
    border-radius:var(--border-radius-small); 
}
.courses .cource-item .cource-img-box .img-icon{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-between;
    padding: 1rem;
}
.courses .cource-item .cource-img-box .img-icon>*{
    background-color: var(--white);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:var(--border-radius-circle) ;
    -webkit-border-radius:var(--border-radius-circle) ;
    -moz-border-radius:var(--border-radius-circle) ;
    -ms-border-radius:var(--border-radius-circle) ;
    -o-border-radius:var(--border-radius-circle) ;
    font-size: 12px;
}
.courses .cource-item .cource-img-box .img-icon .heart-icon i{
   
    color:#ff9800;
}
.courses .cource-item .cource-img-box .img-icon .play-icon i{
    color:#03b97c;
}
.cource-desc .cource-item-desc{
    padding: 1rem 1rem ;

}


.cource-desc .cource-item-desc .cource-item-desc-top{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom:1rem;
}
.cource-desc .cource-item-desc .cource-item-desc-top p{
    margin-bottom: 0;
    line-height: 1;
}
.cource-desc .cource-item-desc .cource-item-desc-top .cource-item-category{
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 16px;
    font-size: 14px;   
    border-radius: 10px;
}

.cource-desc .cource-item-desc .cource-item-desc-top .cource-item-price{
    font-size: 24px;
    
}
.cource-desc .cource-item-desc .cource-item-desc-top .cource-item-price p{
    font-weight: 600;
    font-family: var(--font-family-Jost);
    
}
.cource-desc .cource-item-desc .cource-item-desc-top .cource-item-price span{
    color:var(--main-color);
}
.cource-desc .cource-item-desc .cource-item-desc-middle {
    
}

.cource-desc .cource-item-desc .cource-item-desc-middle .cource-item-desc-title h4{
    font-size:1rem;
    line-height: 21px;
    cursor: pointer;
    margin-bottom:1rem;
}
.cource-desc .cource-item-desc .cource-item-desc-middle .cource-item-desc-title h4:hover{
    color: var(--main-color);
}
.cource-desc .cource-item-desc  .cource-item-desc-end{
    display: flex;
    justify-content:flex-start;
    align-items:baseline;
    gap:4%;
    font-size: 14px;
}
.cource-desc .cource-item-desc  .cource-item-desc-end p{
    margin:0;
}
.cource-desc .cource-item-desc  .cource-item-desc-end i{
    margin-right: 5px;
    color:#f33066;
}
.cource-desc .cource-item-desc  .cource-item-desc-end .lecture-count i{
    color:#27b737;
}
.cource-item-footer {
    padding: 1rem 1rem;
    border-top:1px solid #eff3f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cource-item-footer .instructor-img{
    width: 32px;
    height: 32px;


}
.cource-item-footer .instructor-img img{
    border-radius: var(--border-radius-circle);
    -webkit-border-radius: var(--border-radius-circle);
    -moz-border-radius: var(--border-radius-circle);
    -ms-border-radius: var(--border-radius-circle);
    -o-border-radius: var(--border-radius-circle);
}
.cource-item-footer-info{
    display: inline-flex;
    justify-content:flex-end;
    align-items: center;
    gap:1rem;
}
.cource-item-footer-info p{
    margin:0;
}
.cource-item-footer-info .info-item{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    gap:.5rem;
    font-size: 13px;
    font-weight: 700;
   
}
.cource-item-footer-info .info-item i{
    color: #b3bbd2;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eff1f5;
    border-radius: var(--border-radius-circle);
    -webkit-border-radius: var(--border-radius-circle);
    -moz-border-radius: var(--border-radius-circle);
    -ms-border-radius: var(--border-radius-circle);
    -o-border-radius: var(--border-radius-circle);
}

.cource-item-category.b-c-yellow{
    background: rgba(255, 152, 0,0.18);
    
}
.cource-item-category.b-c-yellow>p{
    color:#ec8d01;
}
.cource-item-category.b-c-Cyan{
    background-color: rgba(3, 169, 244,0.11);
}
.cource-item-category.b-c-Cyan>p{
    color: #03a9f4;
}
.cource-item-category.b-c-pink{
    background-color:rgba(189, 43, 214,0.11);

}
.cource-item-category.b-c-pink>p{
    color:#bd2bd6;
}
.cource-item-category.b-c-brown{
    background-color: rgba(130, 79, 60,0.11);
}
.cource-item-category.b-c-brown>p
{
    color:#824f3c;
}
.cource-item-category.b-c-orange{
    background-color:rgba(255, 87, 34,0.11);
}
.cource-item-category.b-c-orange>p{
    color:#ff5722;
}
.cource-item-category.b-c-purpel{
    background: rgba(134, 95, 255,0.11);
}
.cource-item-category.b-c-purpel>p{
    color:#865fff;
}


.check-right,.item-icon{ 
    color:var(--main-color);
    background-color:#e8fdeb;
   
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: var(--border-radius-circle);
    -webkit-border-radius: var(--border-radius-circle);
    -moz-border-radius: var(--border-radius-circle);
    -ms-border-radius: var(--border-radius-circle);
    -o-border-radius: var(--border-radius-circle);
}
.check-right{
    width:30px;
    height:30px;
}
.instructor{
    box-shadow:var(--box-shadow);
}
.instructor .card .card-body{
    text-align:center;
    padding: 2.5rem 1.5rem;
}
.instructor .card .card-body>*{
    margin-bottom:0 ;
}
.instructor .card .card-body .instructor-tag{
    width: 50%;
    margin: 0 auto 10px;
    background-color:rgba(3, 185, 124,0.1);
    color:var(--main-color);
    border-radius: var(--border-radius-normal);
    -webkit-border-radius: var(--border-radius-normal);
    -moz-border-radius: var(--border-radius-normal);
    -ms-border-radius: var(--border-radius-normal);
    -o-border-radius: var(--border-radius-normal);
}
.instructor .card .card-body h2{
    font-size:20px;
}
.instructor .card .card-body .rate-info{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1%;
    color:#ff9800;
    font-size:10px;
}
.instructor .card .card-body .rate-info p{
    margin: 0;
}
.instructor .card .card-footer{
    display: flex;
    background: none;
    justify-content: space-between;
    align-items: center;
}
.instructor .card .card-footer .users-enrolled{
    color: var(--text-color-p);
}
@media (max-width:1120px){
    .instructor .card .card-body .instructor-tag{
        width: 60%;
    }
    .instructor .card .card-footer  .users-enrolled{
        font-size: 18px;
    }
}
@media (max-width:991px){
    .instructor .card .card-footer  .users-enrolled{
        font-size: 13px;
    }
}
/*---------------------------- */
/*       my  framework           */
/* -------------------------- */


/*---------------------------- */
/*       HomePage style           */
/* -------------------------- */
/*---------------------------- */
/*       nav style start         */
/* -------------------------- */
nav{
    padding: 1.2rem 0rem !important;
    background-color: transparent;
    width: 100vw;
    position: absolute !important;
    z-index:9999;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    transition: all  0.4s  ease-in;
    -webkit-transition: all  0.4s  ease-in;
    -moz-transition: all  0.4s  ease-in;
    -ms-transition: all  0.4s  ease-in;
    -o-transition: all  0.4s  ease-in;
}
nav.scrolled{
    position: fixed !important;
    background-color: var(--section-color-white);
    top:-5px;
}
nav .container{
    gap:1%;
    align-items: baseline !important;
}
nav .navbar-brand{
    align-self: baseline;
}
nav .navbar-nav {
    gap:3%;
}

nav .navbar-nav .nav-item.active{
    color: var(--main-color);

}
nav .navbar-nav .nav-item  .nav-link{
    font-family: var(--font-family-Jost);
    font-weight:500;
    display: flex;
    align-items: baseline;
    gap:5%;
    transition:color 0.3s ease;
    -webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
    -ms-transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
}
nav .navbar-nav .nav-item:hover .nav-link{
    color: var(--main-color);
}
nav .navbar-nav .nav-item  .dropdown-menu{
    min-width:15rem;
    display: unset;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-small);
    -webkit-border-radius: var(--border-radius-small);
    -moz-border-radius: var(--border-radius-small);
    -ms-border-radius: var(--border-radius-small);
    -o-border-radius: var(--border-radius-small);
    padding: 1rem  0;
    border: none;
    opacity: 0;
    visibility: hidden;
    top:120%;
}


nav .navbar-nav .nav-item:hover .dropdown-menu{
    opacity: 1;
    visibility:visible;

}
nav .navbar-nav .nav-item  .dropdown-menu::before{
    content: '';
    display: block;
    position: absolute;
    top: -8%;
    left:13%;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--white);
    filter:drop-shadow(var(--box-shadow));
    -webkit-filter:drop-shadow(var(--box-shadow));
}
nav .navbar-nav .nav-item:nth-child(1)  .dropdown-menu::before
{
    top:-49%;
    left:10%;
}
nav .navbar-nav .nav-item  .dropdown-menu.sub-menu::before{
    content:unset;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item{
    font-size: 0.85rem;
    border-bottom: 1px solid #e4e8ec;
    position:relative;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item:last-child {
    border-bottom:none ;
}
nav .navbar-nav .nav-item:nth-child(1) .dropdown-menu .dropdown-item {
    border-bottom:none ;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item a{
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    padding: 14px 20px 14px 0px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item a:hover{
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
}

nav .navbar-nav .nav-item .dropdown-menu .dropdown-item i{
    margin-left: auto;
}
.dropdown-item:focus, .dropdown-item:hover
{
    color: var(--main-color);
    background-color:unset;
       
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item .dropdown-menu.sub-menu{
    left: 90%;
    top:-20%;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item .dropdown-menu.sub-menu{
    visibility: hidden;
    opacity: 0;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover .dropdown-menu.sub-menu{
    visibility: visible;
    opacity: 1;
}
    /*---------------------------- */
    /*          media start         */
    /* -------------------------- */
@media (max-width:1120px){
 
}
@media (max-width:991px){
   
    nav{
        padding:1rem !important;
        position:static !important;
    }
    nav .navbar-brand{
        order: 1;
    }
    nav .navbar-toggler{
        align-self: center;
        order: 0;
    }
    nav .navbar-toggler>i{
        font-size: 1.5rem;
        color: var(--navbar-icon-color);
    }
    nav .btn-customize-md{
        order: 2;
        margin-left: auto;
        margin-right: 20px;
    }
    .navbar-collapse{
        position: fixed;
        height: 100vh;
        left: -100%;
        top: 0;
        width: 100vw;
        display: flex;
        z-index: 111;
    }
   
    nav .collapse:not(.show){
        display: unset;
    }
    nav .navbar-nav{
        height: 100vh;
        padding: 1rem;
        overflow-y: auto;
        width: 40vw;
        background-color: var(--white);
        z-index: 111;
        padding: 0;
    } 
    .overlay{
        visibility: hidden;
        opacity: 0;
        width: 70vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        transition:all 1.5s  ease ;
        -webkit-transition:all 1.5s  ease ;
        -moz-transition:all 1.5s  ease ;
        -ms-transition:all 1.5s  ease ;
        -o-transition:all 1.5s  ease ;
        z-index: 100;
    }
    .navbar-collapse.show .overlay{
        visibility: visible;
        opacity: 1;
    }
    .nav-item{
        border-bottom: 1px solid #e4e8ec;
        padding:0 1rem;
    }
    .navbar-nav .close-menu{
        color: var(--navbar-icon-color);
        text-align: right;
        font-size: 1.4rem;
        padding: 1rem;
    }
    .nav-link{
        padding:0.5rem 0 .5rem 0 ;
    }
    
    nav .navbar-nav .nav-item:hover .nav-link{
        color: var(--color-a);
    }
    .nav-link.dropdown{
        justify-content: space-between;
    }

    nav .navbar-nav .nav-item .dropdown-menu{
        display: none;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        border-radius:unset    ;
        -webkit-border-radius:unset    ;
        -moz-border-radius:unset    ;
        -ms-border-radius:unset    ;
        -o-border-radius:unset    ;
        padding: 0 ;
    }
    nav .navbar-nav .nav-item .dropdown-menu::before{
        content:unset;
    }
     nav .navbar-nav .nav-item .dropdown-menu .dropdown-item{
         border-bottom:unset;
         padding: 0 ; 
    
    }
    .dropdown-item:focus, .dropdown-item:hover{
        color: var(--color-a);
    }
    nav .navbar-nav .nav-item .dropdown-menu .dropdown-item .dropdown-menu.sub-menu{
        display: none;
        visibility:unset;
        opacity:unset;
    }
    nav .navbar-nav .nav-item .dropdown-menu .dropdown-item a{
        border-bottom: 1px solid #e4e8ec;
        
    }
    nav .navbar-nav .nav-item .dropdown-menu .dropdown-item .sub-menu .dropdown-item a{
        border-bottom:unset;
        padding-left: 1.5rem;
    }
    nav .navbar-nav .nav-item .dropdown-menu .dropdown-item a:hover{
        color: var(--color-a);
        transform:unset;
        -webkit-transform:unset;
        -moz-transform:unset;
        -ms-transform:unset;
        -o-transform:unset;
}
    
}
@media (max-width:768px){

}
@media (max-width:576px){
    
    nav{
        padding:1rem 0 !important;

    }
    nav .navbar-nav{
        height: 100vh;
        overflow-y: auto;
        width: 100vw;
        background-color: var(--white);
        z-index: 111;
    } 
    .overlay{
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        transition:all 1.5s  ease ;
        -webkit-transition:all 1.5s  ease ;
        -moz-transition:all 1.5s  ease ;
        -ms-transition:all 1.5s  ease ;
        -o-transition:all 1.5s  ease ;
        z-index: 100;
    }
}
@media (max-width:320px){
    
}
/*---------------------------- */
/*          media end         */
/* -------------------------- */

/*---------------------------- */
/*       nav style End         */
/* -------------------------- */


/*---------------------------- */
/*       Header style start         */
/* -------------------------- */
 
    header{
        padding:var(--section-padding-type-3);
        background-color:var(--section-color-grey);
    }
    header .container .row{
        align-items: center;
    }

    header .btn-customize {
        padding: var(--padding-button-type-2);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    header .header-content h1{
       font-size: 3rem;
       font-weight: 600;
       line-height: 1.2;
       margin-bottom: 1.5rem;
    }
    header .header-content p{
        font-size: 1.125rem;
        line-height: 1.8;
    }
    header .header-content .input-group{
        margin-bottom:1rem;
        align-items: center;
    }
    header .header-content .input-group i{
        position: absolute;
        left: 3%;
        z-index: 10;
        color:#ccd7de;
        font-size:1.1rem;
    }
    header .header-content .input-group input{
        background-color: var(--white);
        border: 0;
        font-family: var(--font-family-Mulish);
        padding: 1.8rem 3rem;
        border-radius:var(--border-radius-small) !important;
        -webkit-border-radius:var(--border-radius-small) !important;
        -moz-border-radius:var(--border-radius-small) !important;
        -ms-border-radius:var(--border-radius-small) !important;
        -o-border-radius:var(--border-radius-small) !important;
    }
    header input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:#707e9c !important;
        
      }
      header input::-moz-placeholder { /* Firefox 19+ */
        color:#707e9c !important;
      }
      header input :-ms-input-placeholder { /* IE 10+ */
        color:#707e9c !important;
      }
      header input :-moz-placeholder { /* Firefox 18- */
        color:#707e9c !important;
      }
      .input-group-append{
        margin-left: -10px;
      }
      .input-group>.form-control:focus{
        border: none !important;
        outline: none !important;
        background: white;
        box-shadow: none;
        z-index: unset;
      }
      header .header-info{
        width: 85%;
      }
      header .header-info h4{
          font-size: 2.4rem;
          color: var(--main-color);
          font-weight: 600;
          margin-bottom: 0;
      }
    @media (max-width:1120px){
        header{
            padding: 6.5rem 0 !important;
        }
        header .header-info h4{
            font-size: 1.3rem;
        }
       
    }
    @media (max-width:991px){
        header{
            padding: var(--section-padding-type-3) !important;
        }
        header .header-content h1{
            font-size: 1.8rem;
        }
        header .header-content p{
            font-size: 1.2rem;
        }
        header .header-info h4{
            font-size: 1.5rem;
        }
    }
    @media (max-width:576px){
        header .header-content h1{
            margin-bottom: 1rem;
        }
        header .header-content p{
            font-size: 0.9rem;
        }
        header .header-content .input-group{
            width: 95%;
        }
    }
/*---------------------------- */
/*       Header style end         */
/* -------------------------- */

/*---------------------------- */
/*       tag-award style start         */
/* -------------------------- */
.tag-award{
    margin-top:-5%;
}
.tag-award .card{
    padding: .5rem 0rem;
    background: #ffffff;
    border-radius: var(--border-radius-normal);
    box-shadow:var(--box-shadow);
    -webkit-border-radius: var(--border-radius-normal);
    -moz-border-radius: var(--border-radius-normal);
    -ms-border-radius: var(--border-radius-normal);
    -o-border-radius: var(--border-radius-normal);
}
.tag-award .card-icon{
    align-self: center;
}
.tag-award .card-icon .icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    margin: 0 auto;
}
.tag-award .card-icon .icon-1
{   
    background: rgba(144, 106, 212,0.12);
    border: 1px dashed var(--orange-color);
    color: var(--orange-color);
}
.tag-award .card-icon .icon-2
{
    background: rgba(144, 106, 212,0.12);
    border: 1px dashed var(--purple-color);
    color: var(--purple-color);
}
.tag-award .card-icon .icon-3
{
    background: rgba(124, 191, 47,0.12);
    border: 1px dashed var(--green-color);
    color: var(--green-color);
}
.tag-award .card-icon .icon i{
    font-size: 20px;

}
.tag-award .card-desc{
    padding: 0;
}
.tag-award .card-body{
    padding: 1.25rem 0;
}
.tag-award .card-body .card-title{
    margin-bottom: 5px;

}
.tag-award .card-body .card-text{
    width: 82%;
    font-size: .8rem;
}
@media (max-width:991px){
    .tag-award .tag-award{
        margin-top: -7%;
    }
    .tag-award  .card-icon .icon{
        width: 30px;
        height: 30px;
    }
    .tag-award  .card-icon .icon i{
        font-size: .9rem;

    }
    .tag-award  .card-body .card-title{
        font-size: .85rem
    }
    .tag-award .card-body .card-text{
        font-size: .6rem;
        width: 100%;
    }
}
@media (max-width:991px){
    .tag-award{
        margin-top: -8%;
    }
}
@media (max-width:576px){
    .tag-award{
        margin-top: -15%;
    }
    .tag-award .card-body .card-text{
        font-size: .6rem;
        width: 80%;
    }
}
/*---------------------------- */
/*       tag-award style end         */
/* -------------------------- */


/*---------------------------- */
/* featured-categories style start */
/* -------------------------- */
.featured-categories{
    padding:var(--section-padding-type-2);
}
.featured-categories .category-items{
    justify-content:center;
}
.featured-categories .category-items{
    padding-top: 2rem;
    
}
.featured-categories .category-items .col-md-4{
    margin-bottom: 2rem;
}
.featured-categories .category-item{
    background: var(--white);
    box-shadow:0 0 10px 0 rgb(62 28 131 / 7%);
    border-radius:var(--border-radius-normal);
    -webkit-border-radius:var(--border-radius-normal);
    -moz-border-radius:var(--border-radius-normal);
    -ms-border-radius:var(--border-radius-normal);
    -o-border-radius:var(--border-radius-normal);
    text-align: center;
    padding:1.5rem .5rem;
    transition:background .4s ease;
    -webkit-transition:background .4s ease;
    -moz-transition:background .4s ease;
    -ms-transition:background .4s ease;
    -o-transition:background .4s ease;
}
.featured-categories .category-item:hover{
    background: var(--main-color);
}
.featured-categories .category-item .icon{
    color: var(--main-color);
    font-size: 27px;
    width: 60px;
    height: 60px;
    border-radius:var(--border-radius-circle);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(3, 185, 124,0.14);
    margin: 0 auto 10px ;
    -webkit-border-radius:var(--border-radius-circle);
    -moz-border-radius:var(--border-radius-circle);
    -ms-border-radius:var(--border-radius-circle);
    -o-border-radius:var(--border-radius-circle);
    transition:background .4s ease;
    -webkit-transition:background .4s ease;
    -moz-transition:background .4s ease;
    -ms-transition:background .4s ease;
    -o-transition:background .4s ease;
}
.featured-categories .category-item:hover .icon{
    background: var(--white);
}
.featured-categories .category-item .desc h5
{
    font-size: 1.1rem;
    transition:background .4s ease;
    -webkit-transition:background .4s ease;
    -moz-transition:background .4s ease;
    -ms-transition:background .4s ease;
    -o-transition:background .4s ease;
}
.featured-categories .category-item:hover .desc h5{
    color: var(--white)
}
.featured-categories .category-item .desc p{
    font-size: .95rem;
    color:#ff9800;

}
.featured-categories .category-item  {

}   
@media (max-width:991px){
    .featured-categories{
        padding:80px 0 50px;
    }
}
/*---------------------------- */
/* featured-categories style end */
/* -------------------------- */

.featured-courses{
    background-color: var(--section-color-grey);
    padding: var(--section-padding-type-1);
}
.explore-more-cources{
    padding-top: 2rem;
    text-align: center;
}
.explore-more-cources .btn-customize{
    padding: 16px 35px;
    color:#03b97c;
    background-color:rgba(3, 185, 124,0.12) !important;
}
@media (max-width:991px){
    
    .featured-courses{
        padding:80px 0 80px;
    }
}
/*---------------------------- */
/*     Work process start      */
/* ------------------------   */
.work .row{
    align-items:center;
    justify-content:space-between;
}
.work .row .work-desc , .work-img{
    margin-bottom: 4rem;
}
.work-desc-1{
    padding-left:118px;
}
.work-desc-2{
    padding-right:118px;
}
.work-img{
    height: 590px;
}
.work-img img{
    border-radius: 0 25% 50% 50%;
    -webkit-border-radius: 0 25% 50% 50%;
    -moz-border-radius: 0 25% 50% 50%;
    -ms-border-radius: 0 25% 50% 50%;
    -o-border-radius: 0 25% 50% 50%;
    height: 100%;
    object-fit: cover;
}
.work .row .work-desc h2{
    font-weight: 600;

}
.work p{
    width: 85%;
    font-size: 15px;
}
.work ul{
    padding: 0;
}
.work li{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom:1rem;
}
.work .item{
    align-items:flex-start;
    gap:5%;
}
.work .item .item-icon{
    padding: 1rem;
    font-size: 20px;
    width: 50px;
    height: 50px;
}

.work .item .info p{
    margin: 0;
    width: 100%;
}
@media (max-width:1120px){

    .work-desc-1{
        padding-left:95px;
    }
    .work-desc-2{
        padding-right:95px;
    }
    .work .row .work-desc h2{
        font-size: 1.5rem;
        font-weight: 600;

    }
    
} 
@media (max-width:991px){
    .work-desc-1{
        padding-left:40px;
    }
    .work-desc-2{
        padding-right:40px;
    }
    .work .item .info h2{
       font-size: 1.3rem;
    }
    .work .item .item-icon{
        padding: 0.8rem;
        width: 40px;
        height: 40px;
    }
    .work-img{
        height: 610px;
    }
}
@media (max-width:576px){
    .work{
        padding: 3rem 0;
    }   
    .work .row .work-desc, .work-img {
        margin-bottom: 2rem;
    }
    .work-img{
        height:unset;
        padding: 0;
    }
    .work-img img{
        height:auto;
    }
    .work-desc-1{
        padding:15px;
    }
    .work-desc-2{
        padding:15px;
    }
    .work-img-1{
        order:0;
    }
    .work-desc-1{
        order:1;
    }
    .work-img-2{
        order:2;
    }
    .work-desc-2{
        order:3;
    }
    .work .row .work-desc h2{
        font-size: 1.6rem;
        font-weight: 600;

    }
    .work .item .info h4{
        font-size: 1.3rem;
    }
    
    .work .item .info p{
        font-size: 12px;
    }
    .work .item .item-icon{
        font-size: 1rem;
        width: 30px;
        height: 30px;

    }
}

/*---------------------------- */
/*     Work process end      */
/* ------------------------   */
/*---------------------------- */
/*     top instructor start      */
/* ------------------------   */

.top-instructor{
    background-color:var(--section-color-grey);
    padding: var(--section-padding-type-1);
}


.top-instructor .owl-carousel{
    padding-top: 5%;
}

.top-instructor .owl-carousel .owl-nav{
    position: absolute;
    top: 50%;
    left: -2%;
    width: 104%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    background: white;
    justify-content: center;
    color: #03b97c;
    border-radius: var(--border-radius-circle);
    -webkit-border-radius: var(--border-radius-circle);
    -moz-border-radius: var(--border-radius-circle);
    -ms-border-radius: var(--border-radius-circle);
    -o-border-radius: var(--border-radius-circle);
    font-size: 18px;
}
.owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span{
    width: 20px;
    height: 20px;
    background: var(--main-color);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.top-instructor .owl-carousel .owl-dots{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    gap:1%;
}
.top-instructor .owl-carousel button.owl-dot{
    width: 25px;
    height: 3px;
    padding: 5px;
    border-radius: 10px;
    background: #03b97c;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    opacity: .25;

}
.top-instructor .owl-carousel button.owl-dot.active{
    opacity: 1;
}


@media(max-width: 991px)
{
    .top-instructor{
        padding: 80px 0;
    }
    .top-instructor .owl-carousel{
        padding-top: 8%;
    }
    .top-instructor .owl-carousel .owl-dots{
        padding-top: 5%;
    }
}
@media (max-width:576px){
    
    
    
}
/*---------------------------- */
/*     top instructor end      */
/* ------------------------   */


/*---------------------------- */
/*    Packages start           */
/* ------------------------   */
.packages{
    padding: var(--section-padding-type-2);
}
.packages .items{
    padding-top: 5%;
    align-items: center;
}
.packages .packge-item{
    box-shadow: var(--box-shadow);
    padding: 2rem 1.5rem;
    border-radius: var(--border-radius-small);
    -webkit-border-radius: var(--border-radius-small);
    -moz-border-radius: var(--border-radius-small);
    -ms-border-radius: var(--border-radius-small);
    -o-border-radius: var(--border-radius-small);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:1.5rem;
}
.packages .packge-item .recommended{
    background: #ff9800;
    color: var(--white);
    border-radius:var(--border-radius-normal);
    -webkit-border-radius:var(--border-radius-normal);
    -moz-border-radius:var(--border-radius-normal);
    -ms-border-radius:var(--border-radius-normal);
    -o-border-radius:var(--border-radius-normal);
    width: 35%;
    margin: 0 0 1rem;
    font-size: 13px;
    padding: 6px 20px;
    text-align: center;

}
.packages .packge-item .package-type{
    font-weight: 600;
}
.packages .packge-item .packge-price{  
    margin: 0 0 1rem;
}
.packages .packge-item .packge-price h4{
   font-size:4rem;
   margin: 0;
   line-height: 1;
}
.packages .packge-item .packge-price h4 span{
    font-size: 2rem;
    margin-left:1rem;
}
.package-benfit-item{
    display: flex;
    align-items: flex-start;
    gap:5%;
    color: #2c3038;
    font-size: 15px;
    margin-bottom: 1rem;
}
.start{
    margin: 0 auto;  
}
.btn-package{
    width: 100%;
    background-color: var(--white);
    border: 4px solid rgba(3, 185, 124,0.15);
    border-radius: var(--border-radius-normal);
    -webkit-border-radius: var(--border-radius-normal);
    -moz-border-radius: var(--border-radius-normal);
    -ms-border-radius: var(--border-radius-normal);
    -o-border-radius: var(--border-radius-normal);
    color:var(--main-color);
    font-weight:600;
}
.btn-package.active{
    background-color:var(--main-color);
    color:var(--white);
}
.btn-package:hover,.btn-package:focus{
    background: rgba(3, 185, 124,0.15);
    color: var(--main-color);
}
.btn-package.active:hover,.btn-package.active:focus{
    background-color:var(--main-color);
    color:var(--white);
}
@media (max-width:1120px){
    .packages .packge-item .recommended{
        width: 45%;
    }
}
@media (max-width:991px) {
    .packages{
        padding:80px 0 50px ;
    }
    .packages .packge-item .recommended {
        width: 40%;
    }
}
@media (max-width:576px){
    
    .packages .packge-item .recommended {
        width: 45%;
    }
    
}
@media (max-width:320px){
    
    .packages .packge-item .recommended {
        width: 70%;
    }
    .package-benfit{
        padding: 0;
    }
    
}
/*---------------------------- */
/*    Packages end           */
/* ------------------------   */

/*---------------------------- */
/*    call-to-action start           */
/* ------------------------   */


.call-to-action{
    padding: 35px 0;
    background: var(--main-color);
}
.question{
    margin-bottom: 1rem;
}
.question h3{
    color: var(--white);
    margin-bottom: 5px;
}
.question p{
    color: var(--white);
}
.action{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.action .btn-customize{
    background: var(--white);
    padding: 18px 40px;
    border-radius:var(--border-radius-normal) ;
    -webkit-border-radius:var(--border-radius-normal) ;
    -moz-border-radius:var(--border-radius-normal) ;
    -ms-border-radius:var(--border-radius-normal) ;
    -o-border-radius:var(--border-radius-normal) ;
    outline:5px solid rgb(255 255 255 / 20%);
    color: var(--text-color-a);
    font-weight: 600;
}
@media (max-width:991px){
    .question h3{
        font-size: 1.5rem;
    }

}
@media (max-width:576px){
    .action{
        justify-content: flex-start;
        align-items: center;
    }
}
/*---------------------------- */
/*    call-to-action end           */
/* ------------------------   */

/*---------------------------- */
/*    footer start           */
/* ------------------------   */
footer .c-white{
    color: var(--white);
}
footer{
    color: #5e6d88;
    background: #1d2636;
    padding:1rem 0;
}   
footer .flex-column{
    align-items: center;
}
footer  .footer-top,footer  .footer-end{
    width: 90%;
    text-align: center;

}
footer  .footer-top{
    border-bottom: 1px solid white;
}
footer  .footer-top h4{
    color:var(--white);
    margin: 0;
    font-size: 1.3rem;
}
footer  .footer-top ul{
    justify-content:center;
    gap:1.5%;
}
footer  .footer-top ul li{
    font-size: 2rem;

}
footer  .footer-middle{
    align-self: flex-start;
    width: 100%;
    padding: 2rem 0; 
}
footer  .footer-middle .logo{
    margin-bottom:.5rem;
}
footer  .footer-middle .why-us h2{
    font-size: 1.3rem;
    color:var(--white);
}
footer  .footer-middle .why-us p{
    color:var(--white);
}
footer  .footer-middle .why-us .input-group{
    justify-content:space-between;
}
footer  .footer-middle .why-us .input-group input{
    width: 65%;
    flex: unset;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}
footer  .footer-middle .why-us .input-group .btn-customize{
    padding: 0.375rem 1rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
footer  .footer-middle .title{
    color: var(--white);
    margin-bottom:1rem;
}
footer .collapse:not(.show)
    {
        display: block;

    }
footer  .footer-middle ul.d-flex-column li{
    margin-bottom:.5rem;
}
footer  .footer-end{
    border-top: 1px solid white;
    padding: 1rem 0;

}
footer  .footer-end p{
    color:var(--white);
}
@media(max-width:1120px){
    footer .footer-middle .why-us .input-group input{
        width: 60%;
    }
}
@media(max-width:991px){
    footer  .footer-middle .row{
        justify-content:space-between;
    }
    footer  .footer-middle .why-us .input-group input{
        width: 70%;
    }
}
@media (max-width:576px){
    footer  .footer-middle .why-us{
        margin-bottom: 1rem;
    }
    footer  .footer-middle .why-us h2{
        font-size: .9rem;
    }
    footer  .footer-middle .why-us p{
        font-size: .8rem;
    }

    footer .collapse:not(.show)
    {
        display: none;

    }  


    
    
}
@media (max-width:320px){
    footer  .footer-middle .why-us .input-group input{
        width: 75%;

    }
 
}
/*---------------------------- */
/*    footer end           */
/* ------------------------   */
/*---------------------------- */
/*    scroll to top start          */
/* ------------------------   */

.btn-scroll-to-top{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 5%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#333c56 ;
    color: var(--white);
    padding: 20px;
    border: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    outline: none;
    z-index: 111111;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
}
.btn-scroll-to-top.active{
    visibility: visible;
    opacity: 1;
}
.btn-scroll-to-top:hover,.btn-scroll-to-top:focus{
    color: var(--white);
}


/*---------------------------- */
/*     scroll to top end        */
/* ------------------------   */
.modal.show{
    z-index: 99999999;

}
.modal-backdrop{
    z-index: 9999;
} 

