:root{
    /* -------------------------- */
    /*           font wight       */
    /* -------------------------- */
    --font-family-Jost:'Jost', sans-serif;;
    --font-family-Mulish:'Mulish', sans-serif;
    --font-family-Poppins: 'Poppins', sans-serif;
     /* -------------------------- */
    /*          padding           */
    /* -------------------------- */
    --section-padding-type-1: 5rem 5rem;
    --section-padding-type-2: 5rem 3.125rem;
    /* -------------------------- */
    /*         box-shadow          */
    /* -------------------------- */
    --box-shadow: 0 0 1.25rem 0 rgb(62 28 131 / 10%);
    /* -------------------------- */
    /*        border-radius         */
    /* -------------------------- */
    --border-radius-normal: 0.625rem;
    --border-radius-small:0.5rem;
    --border-radius-circle: 50%;
    /*---------------------------- */
    /*        colors               */
    /* -------------------------- */
    --main-color:#03b97c;
    --section-color-grey:#f4f5f7;
    --section-color-white:#fff;
    --text-color-h:#333d46;
    --text-color-a :#30384e;
    --text-color-p : #3c4852 ; 
}
    /*---------------------------- */
    /*       public style           */
    /* -------------------------- */

*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    color: var(--text-color-h);
}
a{
    text-decoration: none;
    color: var(--color-a);
}
p{
    color: var(--text-color-p)
}

    /*---------------------------- */
    /*       public style           */
    /* -------------------------- */

nav{
    padding: 2.5rem 0rem !important;

}